$colorPriBase: #c96567;
$colorPriLight: #9e5a63;
$colorSecBase: #314455;
$colorSecLight: #644e5b;
$colorTer: #97aabd;
$colorSecDark: #23313e;


.main {
    background-color: $colorSecDark;
    color: #fff;
    min-height: 100%;
    font-family: "Fjalla One", 'Verdana', 'Arial', sans-serif;
}

.content {
    position: relative;
    display: none;

    &.is-active {
        display: block;
    }
}

.wrapper {
    display: flex;
    padding: 60px 20px;
    max-width: 1440px;
    margin: 0 auto;
    flex-flow: row wrap;
}
