.tabs {
    display: flex;
    flex-flow: column nowrap;
    z-index: 10;
    background-color: $colorSecDark;
    height: 100%;
    justify-content: center;
    padding-right: 100px;
    width: 100%;
    max-width: 400px;
}

.tab {
    text-align: center;
    width: 100%;

    & input {
        display: none;

        &:checked {
            & + .tab__label {
                background-color: $colorPriBase;
                color: #fff;
            }
        }
    }

    &__label {
        display: inherit;
        font-size: 26px;
        color: #fff;
        padding: 14px 30px 15px;
        background-color: $colorSecDark;
        text-transform: capitalize;
    }

    &-result {
        position: relative;
        display: block;
        flex: 1 0 auto;
    }

    &-sort {
        display: flex;
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;

        &__btn {
            appearance: none;
            background-color: $colorPriBase;
            padding: 10px;
            color: #fff;

            &:nth-child(1) {
                flex: 0 0 36px;
            }

            &:nth-child(2) {
                flex: 0 0 60px;
            }
        }
    }
}
