<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <title>Result</title>
    </head>
    <body>
        <div class="main">
            <h1>Result</h1>
            <ul class="list">
                <% for(let i = 0; i < stashTab.length; i++) {%>
                    <% for(let j = 0; j < stashTab[i].length; j++) {%>
                        <li class="list__item">
                            Name: <%= stashTab[i][j].typeLine %>
                            Amount: <%= stashTab[i][j].stackSize %>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </div>
    </body>
</html>
