@charset "UTF-8";
* {
  box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  overflow-y: scroll;
  /* [3] */
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  /* [5] */
  -webkit-font-smoothing: antialiased;
  /* [5] */ }

body {
  margin: 0;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    display: block;
    color: inherit;
    text-decoration: none; }

p {
  padding: 0;
  margin-top: 0; }

a {
  text-decoration: none;
  background-color: transparent; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000; }

blockquote {
  margin: 0;
  position: relative;
  quotes: "“" "”" "‘" "’"; }

figure {
  margin: 0; }

cite {
  display: inline-block; }

picture {
  display: block; }

img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle; }

table {
  border-collapse: collapse;
  width: 100%; }

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

dl,
dd,
dt {
  margin: 0;
  padding: 0; }

form {
  margin: 0;
  padding: 0; }

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0; }

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell; }

legend {
  padding: 0;
  display: table;
  width: 100%; }

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0; }

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell; }

textarea {
  overflow: auto;
  /* Remove default vertical scrollbar in IE 8/9/10/11. */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input,
button,
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

button {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-sizing: content-box;
  box-align: start;
  border-fit: lines;
  margin-collapse: discard;
  border-fit: border; }

iframe {
  border: 0; }

.main {
  background-color: #23313e;
  color: #fff;
  min-height: 100%;
  font-family: "Fjalla One", 'Verdana', 'Arial', sans-serif; }

.content {
  position: relative;
  display: none; }
  .content.is-active {
    display: block; }

.wrapper {
  display: flex;
  padding: 60px 20px;
  max-width: 1440px;
  margin: 0 auto; }

.form {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  max-width: 480px;
  margin: 0 auto;
  padding-top: 60px; }
  .form__input {
    border: none;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 0;
    font-size: 16px; }
  .form select.form__input {
    background: url("../images/caret-down.svg") calc(100% - 20px) 50% no-repeat #fff; }
  .form__label {
    margin-bottom: 5px; }
  .form__submit {
    background-color: #c96567;
    padding: 20px 0;
    width: 100%;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    margin-top: 20px; }

.list {
  display: flex;
  flex-flow: column nowrap;
  padding: 0; }
  .list-item {
    padding: 12px 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background: #314455; }
    .content[data-category="flasks"] .list-item,
    .content[data-category="resonator"] .list-item {
      padding: 2px 10px; }
    .list-item:nth-child(even) {
      background-color: #23313e; }
    .list-item__name {
      font-size: 20px; }
    .list-item__amount {
      font-size: 20px;
      margin: 0 16px 0 0;
      flex: 0 0 60px; }
    .list-item__media {
      margin-right: 10px;
      flex: 0 0 36px; }
      .content[data-category="flasks"] .list-item__media {
        flex: 0 0 28px; }
      .content[data-category="resonator"] .list-item__media {
        flex: 0 0 30px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center; }
    .list-item__meta {
      display: flex;
      flex-flow: row nowrap;
      width: 100%; }

.tabs {
  display: flex;
  flex-flow: column nowrap;
  z-index: 10;
  background-color: #23313e;
  height: 100%;
  justify-content: center;
  padding-right: 100px; }

.tab {
  text-align: center;
  width: 100%; }
  .tab input {
    display: none; }
    .tab input:checked + .tab__label {
      background-color: #c96567;
      color: #fff; }
  .tab__label {
    display: inherit;
    font-size: 26px;
    color: #fff;
    padding: 14px 30px 15px;
    background-color: #23313e; }
  .tab-result {
    position: relative;
    display: block;
    width: 100%; }

.btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: all .2s; }
  .btn:hover, .btn:active, .btn:focus {
    text-decoration: none; }
  .btn::-moz-focus-inner, .btn::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .btn--scroll {
    width: 50px;
    height: 50px;
    background-color: #c96567;
    position: fixed;
    bottom: 30px;
    right: 30px; }
    .btn--scroll::before, .btn--scroll::after {
      content: '';
      position: absolute;
      background-color: #fff;
      top: 12px;
      width: 4px;
      height: 20px; }
    .btn--scroll::before {
      left: 17px;
      transform: rotate(45deg); }
    .btn--scroll::after {
      right: 17px;
      transform: rotate(-45deg); }
